# Pandas 

<img src="resources/useful/libraries.png">

In [ ]:
import numpy as np
import pandas as pd
import seaborn as sns

print(np.__version__)
print(pd.__version__)
print(sns.__version__)

In [ ]:
#Load dataset from seaborn

In [ ]:
#Write it to a csv file

In [ ]:
#Read a pandas dataframe from a csv file, manually set the index column.


<div class="alert alert-info">
    <b>Note:</b> pandas also supports excel and sql datasources
</div>

### SQL

pd.read_sql( "SELECT TOP 5 * FROM penguine", engine)

vs

penguine.head()

SQL: Table, Join, Primary_key(ish)

vs 

Pandas: Dataframe, merge, index


## Series vs dataframe
series can be though of as a pandas list, with an index, or a one dimensional labeled array
dataframe is a pandas two dimensional labeled(indexed) array. Or several series combined using the same label.

In [ ]:
# distinct

## Digging into the data

In [ ]:
#Sorting

In [ ]:
#filtering

In [ ]:
# meta

In [ ]:
#Direct plot integration

In [ ]:
#Aggregate

In [ ]:
# fancy

### Pandas merge

SQL: Join

<img src="resources/useful/join.png" style="float:right">

In [ ]:
# join

## Maintaining you dataframe
INSERT UPDATE DELETE

In [ ]:
# insert 

d = {
    'survived': [0],
    'pclass': [3],
    'sex': ["male"],
    'age': [42.0],
    'sibsp': [0],
    'parch': [2],
    'fare': [3.50],
    'embarked': ["S"],
    'class': ["Third"],
    'who': ["man"],
    'adult_male': [True],
    'deck': ["C"],
    'embark_town': ["Oslo"],
    'alive': ["yes"],
    'alone': [True]
    
}

## Best practice: Make sure your index is unique! in the dataframe

In [ ]:
#Update
# Cell

# #Multicell


#row
actual_guy =  pd.Series({'survived': 0,
    'pclass': 3,
    'sex': "male",
    'age': 42.0,
    'sibsp': 0,
    'parch': 2,
    'fare': 3.50,
    'embarked': "S",
    'class': "Third",
    'who': "man",
    'adult_male': True,
    'deck': "C",
    'embark_town': "Oslo",
    'alive': 1,
    'alone': True
})

In [ ]:
# Delete

#Row

#Column